<div id="users">
  <% if users.present? && users.any? %>
    <% users.each do |user| %>
      <div class="d-flex align-items-center mb-3">
        <%= image_tag user.avatar_url,
              alt: "#{user.first_name} #{user.last_name}",
              class: "avatar-wrapper me-3"%>

        <%= link_to "#{user.first_name} #{user.last_name}",
              profile_path(user),
              class: "fw-semibold text-decoration-none text-dark",
              data: { turbo_frame: "_top" } %>
      </div>
    <% end %>
  <% else %>
    <em class="text-muted">Sorry, no users found.</em>
  <% end %>
</div>
