<div class="search-container">
  <h1>Rechercher</h1>
  <form action="#" method="get" class="search-form">
    <input type="text" name="query" placeholder="Tape ta recherche..." class="search-input">
    <button type="submit" class="search-button">
      <i class="fa-solid fa-magnifying-glass"></i> Rechercher
    </button>
  </form>
</div>
