
<div class="row justify-content-center">
  <div class="col-sm-8 my-4">
    <%= form_with url: search_path, method: :get, class: "input-group shadow-sm" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded-start-pill",
            placeholder: "Rechercher un utilisateur"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <turbo-frame id="dashboard_search_results">
        <% if params[:query].present? %>
          <%= render partial: "pages/search_results", locals: { users: @users } %>
        <% end %>
      </turbo-frame>
    </div>
  </div>
</div>

