<div class="fit-modal-wrapper">
  <div class="fit-card">

    <div class="modal-illustration">
    <%= inline_svg_tag "illustrations/match_anim.svg", class: "svg-illustration"%>
    </div>

      <!-- Texte -->
    <div class="fit-text">
      <h2 class="fit-title">It’s a fit!</h2>
      <p class="fit-subtitle">Let’s talk and meet now !</p>
    </div>

      <!-- Bouton (tu peux passer les bons params si nécessaire) -->
    <div class="fit-button-container">
      <button class="plus-button">Continue</button>
    </div>

  </div>
</div>
