

<% if @potential_matches.any? %>
  <ul>
    <% @potential_matches.each do |u| %>
      <li>
        <%= render "layouts/profile_card", user: u, conversation: @conversation, enableMessage: false  %>
</div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun match trouvé.</p>
<% end %>
