.btn.custom {
  background-color: $blue;
  border-radius: 24px;
  padding: 10px 10px;
  color: #fff;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  transition: all 0.3s ease; // animation fluide

  &:hover {
    background-color: darken($blue, 10%); // assombrir
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px; // ombre plus forte
    transform: translateY(-2px); // petit "lift"
  }

  &:active {
    transform: translateY(0); // revient à plat au clic
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;
  }
}

.plus-button {
    width: auto;
    height: 36px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px; // arrondi très visible mais pas 50%
    display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 17px; // taille du +
    cursor: pointer;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active,
  &:-webkit-any-link {
    background-color: #000000;
    color: #fff;
    text-decoration: none;
  }
}

.gradient-purple-pink {
  background: linear-gradient(135deg, #a855f7, #ec4899);
}

.gradient-blue-green {
  background: linear-gradient(135deg, #0E68FC, #1DE566);
}

.gradient-orange-red {
  background: linear-gradient(135deg, #fb923c, #ef4444);
}

.gradient-blue-purple {
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
}
