.chat-message {
  display: flex;
  align-items: flex-start;

  .chat-bubble {
    max-width: 70%;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 1.4;
    word-break: break-word;

    &.outgoing {
      background-color: #000;
      color: #fff;
      border-bottom-right-radius: 6px;

      .chat-time {
        color: #fff; // Texte de l'heure en blanc pour outgoing
      }
    }

    &.incoming {
      background-color: #f1f1f1;
      color: #000;
      border-bottom-left-radius: 6px;

      .chat-time {
        color: #666; // Tu peux ajuster ici si tu veux un gris plus foncé
      }
    }

    .chat-time {
      color: #fff;
      font-size: 8px;
      margin-top: 6px;
      padding-bottom: 4px;
    }
  }
}
