.mobile-navbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  height: 65px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  z-index: 1000;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .nav-item {
    flex: 1;
    text-align: center;

    .nav-link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      padding: 8px 14px;
      border-radius: 16px;
      color: #000;
      font-size: 1.3rem;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.3s ease;

      span {
        display: none;
        font-size: 0.9rem;
      }
    }

    /* Actif avec dégradé */
    &.active .nav-link {
      background: white; // dégradé
      /* Use gradient for text with background-clip */
      background: linear-gradient(75deg, #166EFD, #A74FFF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

      span {
        display: inline;
      }

      i {
        background: linear-gradient(75deg, #166EFD, #A74FFF); // dégradé sur l'icône
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
    }
  }
}

@media (min-width: 992px) {
  .mobile-navbar {
    display: none;
  }
}
