.search-form .search-bar {
  display: flex;
  align-items: center;
  background: #f5f5f7;
  border-radius: 12px;
  padding: 0.5rem 0.5rem;
  gap: 8px;

  i {
    color: #9ca3af;
  }

  .search-input {
    border: none;
    background: transparent;
    flex: 1;
    outline: none;
  }
}
