<div class="chat-input">
  <%= form_with model: [conversation, message_user], local: true, class: "d-flex align-items-center gap-2" do |f| %>
    <%= f.text_field :content, placeholder: "Tapez votre message…", class: "form-control rounded-pill", autocomplete: "off" %>
    <%= f.button :submit, class: "btn plus-button d-flex align-items-center justify-content-center" do %>
      <i class="fa-solid fa-arrow-up"></i>
    <% end %>
  <% end %>
</div>
